/* body {
    background-color:blanchedalmond;

     background-image: url('https://images.squarespace-cdn.com/content/v1/60739668c5120f35576937ec/1621213072763-DDDUUABQWH7DG98B2Q4N/Background.jpg?format=1500w');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;

    } */

    