


<body>
  <br>
  <img src="https://drive.google.com/uc?id=1xYgk-8lU5LuopwhOQurcZUQmt5FR__Gu" alt="my pic" width="150" height="150" >&nbsp;


<br> <br>
  <h1>Hi, I'm <span><b>Sai Mutyam Manda.</b></span> </h1>


  <h2><i>A Web Developer.</i></h2>



  <h5 >
    <b>I'm a Web Developer,<br> I love to create beautiful and functional websites</b></h5>

    <h5>
     <i> Using<b> Angular</b> as FrontEnd Technology.</i>
    </h5> <br>
    <h5>
         <i>also, I have Trained on other <b>Technologies</b> like,</i>
    </h5>
    <h5>
      <b>.NET Core (Basics)</b>
       <br><br> <b>MySQL (ssms)</b> <br><br>
        <b>Azure (Fundamentals)</b><br><br>
        <b>Core Python</b>
    </h5>

    <h5>
      <i>To Shape Myself as FullStack Developer</i>
    </h5> <br>
    <h5>
      <i>However, <b>Angular</b> became my <b>Primary SkillSet</b> and rest others fallen under Secondary</i>
    </h5> <br>

    <h5>
      <i>Coming to my Work Experience,</i>
    </h5>
    <h5>
        <i>
          <b>"</b>I'm working as an <b>Analyst</b>  at  <a  (click)="onNavigate('https://drive.google.com/file/d/1n1_uOYjoDpu6VZIbsIPI6PmUNKYLoYbh/view?usp=sharing')"><b><u>Capgemini</u></b></a>  Since May - 2022<b>"</b>
        </i>
    </h5>
    <!-- <p>Contact me - <a (click)="onNavigate('')"> Linkdin</a></p> -->



 <br><br>






 </body>




<style>
  body {
    text-align: center;
  }

  h1{
    -webkit-text-fill-color:olivedrab;
  }
  h2{
    -webkit-text-fill-color:brown
  }

  p{
    -webkit-text-fill-color:navy
  }
  h5{
    -webkit-text-fill-color:navy
  }
 img{
  border-radius: 50%;
 }




</style>


<!-- <router-outlet></router-outlet> -->


