
<div class="main"> <br><br><br><br>
  <ul class="cards">
    <li class="cards_item">
      <div class="card">
        <div class="card_image"><img src="https://upload.wikimedia.org/wikipedia/en/0/04/Jntuk-logo.png" alt="mixed vegetable salad in a mason jar. "></div>
        <div class="card_content">
          <h2 class="card_title">Bachelors in Mechanical Engineering</h2>
          <div class="card_text">
            <p><b>Passed out - 2021</b></p>
            <p><b>Scored - 7.0 CGPA</b></p>

          </div>
        </div>
      </div>
    </li>

    <li class="cards_item">
      <div class="card">
        <div class="card_image"><img src="https://play-lh.googleusercontent.com/32UsHNq2FIJINM9dtsie-8PGcrDm893k6ctK9C2yXYZbzIYue5GuQWlkYSUyyBN4usc" alt="a Reuben sandwich on wax paper. "></div>
        <div class="card_content">
          <h2 class="card_title">Diploma in Mechanical Engineering</h2>
          <div class="card_text">
            <p><b>Passed out - 2017</b></p>
            <p><b>Scored - 71.22%</b></p>

          </div>
        </div>
      </div>
    </li>


    <li class="cards_item">
      <div class="card">
        <div class="card_image"><img src="https://www.careerindia.com/img/2019/04/1-1556191318.jpg" alt="A side view of a plate of figs and berries. "></div>
        <div class="card_content">
          <h2 class="card_title">10 th SSC Andhra Pradesh</h2>
          <div class="card_text">
            <p><b>Passed out - 2014</b></p>
            <p><b>Scored - 8.5 CGPA</b></p>
            <p><span class="note"></span></p>


          </div>
        </div>
      </div>
    </li>
  </ul>
</div>